In [2]:
#import modules

import pandas as pd
import scipy as sp
import scipy.stats as stats
import scipy.stats as linregress

In [4]:
#import csvs
food = "Resources/Food_Desert_Data_2015.xlsx"
health = "Resources/2017CountyHealthRankingsData.csv"

food_df = pd.read_excel(food, "Food Access Research Atlas")
health_df = pd.read_csv(health)

food_group = food_df.groupby(['State', 'County']).agg({"POP2010": "sum", "OHU2010": "sum", "PovertyRate": "mean", 
                                            "MedianFamilyIncome": "mean", "LILATracts_1And10": "sum", 
                                            "LILATracts_halfAnd10": "sum", "LILATracts_1And20": "sum", 
                                             "LILATracts_Vehicle": "sum", "LAPOP1_10": "sum", 
                                            "LAPOP05_10": "sum", "LAPOP1_20": "sum", "LAPOP1_10": "sum", 
                                           "LALOWI1_10": "sum", "LALOWI05_10": "sum", "LALOWI1_20": "sum",
                                           "lapophalf": "sum", "TractKids": "sum", "TractSeniors": "sum",
                                           "TractWhite": "sum", "TractBlack": "sum", "TractAsian": "sum", 
                                           "TractNHOPI": "sum", "TractAIAN": "sum", "TractOMultir": "sum", 
                                           "TractHispanic": "sum", "TractHUNV": "sum", "TractSNAP": "sum"})

health_group = health_df[["State", "County", "Food Environment Index", "# Deaths", "Years of Potential Life Lost Rate", 
                         "% Obese", "% Fair/Poor", "# Diabetics", "# Violent Crimes", "# Unemployed", 
                         "% Children in Poverty"]]


combined_df = pd.DataFrame.merge(food_group, health_group, on=['State', 'County'])




#combined_df = pd.DataFrame.merge(food_group, health_group, left_on=['County','State'], right_on=['County','State'])

In [5]:
#clean_df = combined_df.fillna(0)
combined_df

,State,County,POP2010,OHU2010,PovertyRate,MedianFamilyIncome,LILATracts_1And10,LILATracts_halfAnd10,LILATracts_1And20,LILATracts_Vehicle,...,TractSNAP,Food Environment Index,# Deaths,Years of Potential Life Lost Rate,% Obese,% Fair/Poor,# Diabetics,# Violent Crimes,# Unemployed,% Children in Poverty
0,Alabama,Autauga,54571,20221,13.858333,61082.916667,2,2,1,2,...,2682,6.9,830.0,9158.0,34,18,711.0,145.0,1327.0,19.0
1,Alabama,Baldwin,182265,73180,14.358065,60664.935484,3,3,3,2,...,6471,7.5,2573.0,7394.0,27,16,2615.0,415.0,4791.0,20.0
2,Alabama,Barbour,27457,9820,24.533333,43123.000000,3,3,1,2,...,2097,4.9,413.0,8573.0,44,25,525.0,85.0,771.0,45.0
3,Alabama,Bibb,22915,7953,16.025000,43362.500000,0,0,0,1,...,1125,7.3,407.0,11766.0,40,20,333.0,33.0,561.0,29.0
4,Alabama,Blount,57322,21578,17.911111,52136.000000,0,0,0,2,...,2900,8.3,906.0,9333.0,35,19,705.0,123.0,1316.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3093,Wyoming,Sweetwater,43806,16475,11.841667,81835.083333,0,0,0,2,...,835,8.1,445.0,6878.0,32,16,469.0,159.0,1053.0,10.0
3094,Wyoming,Teton,21294,8973,8.100000,89555.250000,0,0,0,0,...,128,8.0,116.0,3728.0,13,12,104.0,NaN,558.0,8.0
3095,Wyoming,Uinta,21118,7668,14.166667,65312.666667,0,0,0,0,...,621,7.5,234.0,7660.0,28,15,243.0,8.0,475.0,12.0
3096,Wyoming,Washakie,8533,3492,14.133333,62213.666667,0,1,0,0,...,337,8.0,97.0,7294.0,28,14,156.0,7.0,174.0,16.0
3097,Wyoming,Weston,7208,3021,12.100000,75233.000000,0,0,0,0,...,218,8.0,88.0,8051.0,29,14,103.0,9.0,133.0,13.0

In [46]:
coord = "Resources/us_county.xlsx"
combined = "output/true_combined.csv"

combo_df = pd.read_csv(combined)
coord_df = pd.read_excel(coord, 'Sheet')


coord_fuse = coord_df[["Latitude", "Longitude"]]


final_df = pd.DataFrame.merge(combo_df, coord_fuse, on='County')

KeyError: 'County'

In [6]:
combined_df.to_csv('output/my_combined.csv', index = False)

In [11]:

for col in health_df.columns:
    print(col)

FIPS
State
County
# Deaths
Years of Potential Life Lost Rate
95% CI - Low
95% CI - High
Quartile
% Fair/Poor
95% CI - Low.1
95% CI - High.1
Quartile.1
Physically Unhealthy Days
95% CI - Low.2
95% CI - High.2
Quartile.2
Mentally Unhealthy Days
95% CI - Low.3
95% CI - High.3
Quartile.3
Unreliable
# Low Birthweight Births
# Live Births
% LBW
95% CI - Low.4
95% CI - High.4
Quartile.4
% Smokers
95% CI - Low.5
95% CI - High.5
Quartile.5
% Obese
95% CI - Low.6
95% CI - High.6
Quartile.6
Food Environment Index
Quartile.7
% Physically Inactive
95% CI - Low.7
95% CI - High.7
Quartile.8
% With Access
Quartile.9
% Excessive Drinking
95% CI - Low.8
95% CI - High.8
Quartile.10
# Alcohol-Impaired Driving Deaths
# Driving Deaths
% Alcohol-Impaired
95% CI - Low.9
95% CI - High.9
Quartile.11
# Chlamydia Cases
Chlamydia Rate
Quartile.12
Teen Births
Teen Population
Teen Birth Rate
95% CI - Low.10
95% CI - High.10
Quartile.13
# Uninsured
% Uninsured
95% CI - Low.11
95% CI - High.11
Quartile.14
# Primary Care Physicians
PCP Rate
PCP Ratio
Quartile.15
# Dentists
Dentist Rate
Dentist Ratio
Quartile.16
# Mental Health Providers
MHP Rate
MHP Ratio
Quartile.17
# Medicare Enrollees
Preventable Hosp. Rate
95% CI - Low.12
95% CI - High.12
Quartile.18
# Diabetics
% Receiving HbA1c
95% CI - Low.13
95% CI - High.13
Quartile.19
# Medicare Enrollees.1
% Mammography
95% CI - Low.14
95% CI - High.14
Quartile.20
Cohort Size
Graduation Rate
Quartile.21
# Some College
Population
% Some College
95% CI - Low.15
95% CI - High.15
Quartile.22
# Unemployed
Labor Force
% Unemployed
Quartile.23
% Children in Poverty
95% CI - Low.16
95% CI - High.16
Quartile.24
% Children in Poverty - Black
% Children in Poverty - Hispanic
% Children in Poverty - White
80th Percentile Income
20th Percentile Income
Income Ratio
Quartile.25
# Single-Parent Households
# Households
% Single-Parent Households
95% CI - Low.17
95% CI - High.17
Quartile.26
# Associations
Association Rate
Quartile.27
# Violent Crimes
Violent Crime Rate
Quartile.28
# Injury Deaths
Injury Death Rate
95% CI - Low.18
95% CI - High.18
Quartile.29
Average Daily PM2.5
Quartile.30
Presence of violation
Quartile.31
# Households with Severe Problems
% Severe Housing Problems
95% CI - Low.19
95% CI - High.19
Quartile.32
% Drive Alone
95% CI - Low.20
95% CI - High.20
Quartile.33
% Drive Alone - Black
% Drive Alone - Hispanic
% Drive Alone - White
# Workers who Drive Alone
% Long Commute - Drives Alone
95% CI - Low.21
95% CI - High.21
Quartile.34