In [3]:
#Import modules

import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [4]:
#Import data from CSV
combined_path = "output/true_combined.csv"
medicare_path = "Resources/Medicare_Enrollment_2017.csv"

In [5]:
#Import csvs
combined_df = pd.read_csv(combined_path)
medicare_df= pd.read_csv(medicare_path)

In [8]:
#Combine combined_df and medicare_df
combined_med_df=pd.DataFrame.merge(combined_df,medicare_df, on = ["State","County"])
combined_med_df

,State,County,POP2010,OHU2010,PovertyRate,MedianFamilyIncome,LAPOP1_10,LAPOP05_10,LAPOP1_20,LALOWI1_10,...,Food Environment Index,# Deaths,Years of Potential Life Lost Rate,% Obese,% Fair/Poor,# Diabetics,# Violent Crimes,# Unemployed,% Children in Poverty,Original Medicare
0,Alabama,Autauga,54571,20221,13.858333,61082.916667,18092.661348,30141.638549,11064.872922,6835.642497,...,6.9,830.0,9158.0,34,18,711.0,145.0,1327.0,19.0,5784
1,Alabama,Baldwin,182265,73180,14.358065,60664.935484,46400.350641,72307.849152,43486.806226,15459.848416,...,7.5,2573.0,7394.0,27,16,2615.0,415.0,4791.0,20.0,28388
2,Alabama,Barbour,27457,9820,24.533333,43123.000000,6683.975691,9302.717960,1182.176872,3251.362574,...,4.9,413.0,8573.0,44,25,525.0,85.0,771.0,45.0,4372
3,Alabama,Bibb,22915,7953,16.025000,43362.500000,295.614426,295.614426,0.000000,164.903295,...,7.3,407.0,11766.0,40,20,333.0,33.0,561.0,29.0,2480
4,Alabama,Blount,57322,21578,17.911111,52136.000000,5855.939161,7387.084978,3900.420369,2570.900481,...,8.3,906.0,9333.0,35,19,705.0,123.0,1316.0,22.0,6070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3089,Wyoming,Sweetwater,43806,16475,11.841667,81835.083333,9400.240856,16730.468695,8914.971285,1816.028671,...,8.1,445.0,6878.0,32,16,469.0,159.0,1053.0,10.0,5641
3090,Wyoming,Teton,21294,8973,8.100000,89555.250000,3711.377493,3949.327991,2605.093461,972.594547,...,8.0,116.0,3728.0,13,12,104.0,NaN,558.0,8.0,3122
3091,Wyoming,Uinta,21118,7668,14.166667,65312.666667,758.694309,758.694309,13.350968,318.523395,...,7.5,234.0,7660.0,28,15,243.0,8.0,475.0,12.0,2804
3092,Wyoming,Washakie,8533,3492,14.133333,62213.666667,1057.246483,2537.470166,885.406917,359.634002,...,8.0,97.0,7294.0,28,14,156.0,7.0,174.0,16.0,1812
3093,Wyoming,Weston,7208,3021,12.100000,75233.000000,2225.791797,3377.924045,1564.687515,676.061144,...,8.0,88.0,8051.0,29,14,103.0,9.0,133.0,13.0,1447

In [35]:
#Convert "Original Medicare to String
try:
    combined_med_df[["Original Medicare"]]=combined_med_df[["Original Medicare"]].apply(pd.to_numeric)
except ValueError

SyntaxError: invalid syntax (<ipython-input-35-f439c3dce39c>, line 4)

In [32]:
totalenrollment = combined_med_df["Original Medicare"].sum()
totalenrollment

'57842838843722480607012593748201106492470141213124391527272724829510567270119627750228312667830465791098498355844158293656539554451806321631441628594466211632451592257301556812058128827804630442695614153543793339062306518936197540983893429076481875286782470117448121234879230293825864529++35153++++10415+45731047623421512+12833++++11401337113+1111120880162641384935731060430538078943359178141138864280943655418725671366245551069927209757122391001494721893578353766021681440240251457181986996313214302392317216353286227082149632017355360960242505733130863226115474169154434331433193625424097101662503369868756455161020541622185545282105332422024280462294661769592143425195721875189217439252647883730351078073978243931357815543562134178220848647576110053159996965485273999292552732624127186434870708138481608548267463981572133956442920132308762286154358118179572374124239841704545615495312775774311181522680298639366519516796825661535148218437014553585311860431695611946501161121405633215024414354966191743811199278202228485642904+101129768466241593561104136788669612466624448284822406749386853028857854700858020182076206186629046647+1395865789239815323795335282106922419605457806143333751105224518962685233923301906242332371013+87762428643787977264791826115204111765305172465111104142078177711681930248824645843732424333928543401191948139915191142743358562863272011110434936289498983462602016819664661284116292876213830713953268552142411557136653626186201828850615971210692206078027883007607436242831815154817145211422731845510993035230561936505827812473473833127322285797643447563719745204416608190363315727288728241045141772561924146044147322380733611745243126091885218892387243233296886264127027666097147112878922315192950837335822374410856477180799916355147426011149962375138151566280924593200553733936288114891115111842152536856823125308812875779148101397816770347778219572441512914748334453786587845848224891197399944444314141718474184501354762318661966246510591161338322901121696631684736129311131300742921403395898224801801281590828403885115826185901221691001944212005123243553595229292238579914833673471366010122171584045162078160786564398529368690425624721109162513246871504938583243862871511861358576037719997991257548022572396831575044471370711071749149528292712991749086881470038774101710230136024685998357611238145141352207+1871751412823100862613122133531871204424562189400030652277249235285246818097852333259973679391379331410663531127510452188420951267714512917691085464389993071204515666603729482925619973355901713862182811673250611805635171397629438972272765660311210261871491673394499913878150578074211886714541563243232156474172691165483969026428536304586743672056492053550881022316298132934355425231776917812729414856646146259979362402534492146316576412921053509932491928649942528512898054524309779346920200113463112182329273825973475321911053759181173738916582239343512312398149424147339277833156144171264745489720304912468979744124185977552236085271117753217400928764868121695957301869652663217066819215634430361435512332959764494186487015876236811841066081835620144979545692204255081620055111028322904983960361336342767351422372361639372370519749664414284843496359357632668440444483552144118825274212122615031791801548251522897943411392034454409338315149192889266914794095170544838402829883290297723584278317731011035625552493184237093477856329828934141215082695848946098929215640783565217415631991223622613051241537602879395621412043152128533362678136091579235052012383275752815218921747197325233848601471602722238819151407238763163057130735252048420917035592814374352912322354232802789540310943312915202658155960056913423013287136236138071369115222877273317102812111153582818221295855709234059703+183221351990+6834675176140881555139986657854720137743193924463934386606951042961+1632+13196126577+249732368426310260417275554432+1073976817406275509291023015816809462214586835137255621113347743109132769291298138113803375193567612876134719786986120281117641002298165943227732394+12641055925+81642711366+1355+1421+2156709150283311337026361520737718505445119832849884249451266263037899878200925435478963493816184915304086325155373820211728136716079216899826913105124967739838413397582847306360884838215669441541152135830294132146708219410117642236795179605844951685627356186249210417306414002099459922494195201947431673102662291305263202111289412261307716294035112336591723209738721919543869101247383764441575898188452561219321571189034130482895330348405575301021504667195028381347208614762202138152078676014343374941038977309312573965912267615815373162940516339131805269834283810110132586621234983389117602931272634880526629591125065593952616694501628430136206681620251222122132433534443308037001855215737211507879448325239651446095416376379493816612698273381960193312712470155611635239380498611483202828056712910997266804146597810027759480313446415808808891351758178213886606228971171832007472553614463144100539479548313652810416587834559149141019626600176451381062875312199530744881190171363569163258541973141762100660871827735699162305418261074267844638320914296693177143347234966713213908172477955765651641990502734706546351532159575296154162984129966089719547396847336767057625427157358240892632731604899052826731190940461500922303113022801080345091975154565654389310914258720635854426722104059181526624016493516844011207743811923832346525282417502164110083232778742926610078390321992485531176720258349145093124689497626743327467139911025362047598667511428670326735161435371456218930504060714785572222245828325439143318033997506170970314514922033842269151892225152609167624232728446312332474249180514998581011642822121930891093366592261524171545071175105165535043129320024107242860989103918014792013142916091521711456744825687412626040860027333328170361353245249935261581142634233836443143513341218901041816643377204746266346293272889132311669144512220348318113542290115001656687170831269427583511154365560625210235134564656594377532541506441052352600359569817234667495474521514802087343549964682278127694308247946034842481714255708276977188106353126961652405133064155410129661350446252212290287447972490180581512091031604693298771367218931401115972455163784591388280913186121872799390612202231162519103370189262511072827141432317212264198045181904106516597927237372869224065894882454950125188195061822805292935762656164457122697792426927462361191822734806331035672308215819733069346869686907304211144358453211185206441773546148130733789823856818316611330372781892113211201643017431696140569313358148481935543856369829883831477290918411607100411111993286126399592530431172621215082252167411118026018122187892585212640455521087740349251898321521109216432110630178193011153401262333919917791574149131358456339169276810028191731741470+223446380++++11612074++70231587171541441508++1855+137820082473249615463656+927694062376+++553+4826++434179+93791933+++2521+1355177185011401961+9261973411556343144+5870671693895679+11443094+6562036+5884+23812133+2405192513545717131101240748+849++968+33161329919+2991114094839199199124485889228+2463838102510371114879609439675746217211503113363156379276182576489129014537782151698724500513460466239730262278522226817994170456048195834540910211198358728671137945934011823443192366061869178036025611409964366428186422506245108929616684918277183214494299039849357116696032325614927051858747791481424900289225496936183392274433298063398593126377945510667166551208672021381810298651677234547481113691781446576564774171044880813515205462359953598359535536544196651174902218703186851859101754880939701479910479144711870781801751718438282522716258448228274287172351425722715313916680011864295419839779791341254193857265214614532621574016543831031066046915748335764150213238193741139217121530030752233210711683135022855168671086520008368014086733715760479285273003596693185679962641019881602790630594354211101145241201622820430847748572045860872234720438919119471117490963924481877258535630954038177351622035052438520092135133388684795683248557822766478813103860817906103371742612390960165049395424693643164714469721564697588379326328486199183989750153793823391456721189691541563613+1211117841946942+570512688605+8143529554530386775389107070410621943141140491369852325147471123351046+223619678013444001303853373324158413532141803110973221469315827712216980755968708937586237916357746161570220858567014169601780271466668307673417594140641506740489928461045277125521917467298520210693471324324706670446853157967556331108687533053911583194207262402554857642012782191792003741376225134802217578352243458513553187077663203508158404757160855534527920415105169652133419609679140380539242690811600487845661996208381142913541602814400378340501087293898434411958812954591467395458180336258333231107816727123632051050641888837102483910780537482629861189585707282527864047135723129125261420202277922057016210206815673466736161116669531029001325523182241235793291750973557045336110555886673201158128536841199546948009888924981593738339564105812051157333244363818530912752056031700950137563290212146248518341778311036754387216053126211994407071222513377520126006179649593707241858061248155262149478634803404996016306975225999148826418534141504210767866131577813941988121221240867660587011516481786871369630573274807444561613086715131100726000281838056516720164602909365826522890451836047041537921742576791496365672474511171121024616514370524914306311487309724642465882101260759275275192825575531936510629319324442567896180207011307862225186884081277601272286542232306638655254362535551307910537275456180676412131467619602371536332328914357609061142130216968938901075816718105602981398005819452722966428152801305015935482593084380971685245915197323354682674463127534286235780+15962861604513158732365272014325210696847305947592022478970931404705760107918529611351+41954318910333001435649145658798976654143321476245951015187886426271668394128357333892711631249233513633737+1060458183496191117476131465203207156327028412727944291163351128714261415398541172449264062496676688941367099892054222772102682239825943498779428257026443282242546983309413923313228971532703480351074392976981923544190553235148394230415112484842355131896676718067104525255433442113791260295312295516082987143239522968278212383102923268925241776418395811611012654199512256552152222744551249012001515038720915711225344851516359459443689064310994487227173160215441521651083179145552915117173154733610246977297784194881341023593433819549175413993391970989872020414671197675973538418021002275853659736889322488557883404775198848179335472173102160308414121169915503393144104315364417919483221855894526871489028750997185929761737158635139584656517412223024323120376171053820173264083612149079178365102863778974548104517814482139045219759622704110496359388140954261392032032881273222456095122534068142541546325572044127527021+156126861022+65426176767229827194435134120247836247641355050913485086+2872781517002057647942493965961664280241285681509146183534959109941554935020852390278854176411770240727987110832610506492537701695312901743126311404314412256165763459262823180512761432600968021876950267618613693611110844682189572391233731377125065301583185321670127414622418054184142933437531593389199298136035958437374160668811122986044413714436272237026193949197732035203947797531387477949871945378315451233106649177068388117124480231917411063185457421516173422111005402315772531976393334593712531129363025122952550857721863677385296669255811775780916544611623966291457912229997313437723617537384823086338315120412151341159156331374647332144389279110372466668171447280243186278410307613173029164521232912367431381074631794900104421600138913494676643313951312118298183152194011110830686616517072331427291418368838742928363352580250823677174296911108387434602955394729927452535738481238744953763490837503723518381586222981809314511493414351513233379063676033791727514695119117908415655299034144670657099847210951003232312840244243642912051300759542148947562512834178421605211752193865423937542565813710281913339913172593587979214412217392181651886317711293359581026111492783654683422229591627935802455376414414160316181103774610192519730744455607262311525519282242989327763452619787964053502043381183254304968878428233616462364661576125617405438796214378544419982807268628071272155437936969169324761102161833909499927007075303121063273632402896880034008424292161117108936470551264381314898010499166858016308223733651200297011291502619927212613423215831844291101611448368832879629817666446408374511261911451170640335801792726562292336312135824058622353641391281678412340412337145568152123194155244735457903148137728309446325184926256123821437745630061340203217200334512650+705022396491142256413122280418121447'

In [9]:
#Read data from CSV
combined_df = pd.read_csv(combined_path)
combined_df

,State,County,POP2010,OHU2010,PovertyRate,MedianFamilyIncome,LAPOP1_10,LAPOP05_10,LAPOP1_20,LALOWI1_10,...,TractSNAP,Food Environment Index,# Deaths,Years of Potential Life Lost Rate,% Obese,% Fair/Poor,# Diabetics,# Violent Crimes,# Unemployed,% Children in Poverty
0,Alabama,Autauga,54571,20221,13.858333,61082.916667,18092.661348,30141.638549,11064.872922,6835.642497,...,2682,6.9,830.0,9158.0,34,18,711.0,145.0,1327.0,19.0
1,Alabama,Baldwin,182265,73180,14.358065,60664.935484,46400.350641,72307.849152,43486.806226,15459.848416,...,6471,7.5,2573.0,7394.0,27,16,2615.0,415.0,4791.0,20.0
2,Alabama,Barbour,27457,9820,24.533333,43123.000000,6683.975691,9302.717960,1182.176872,3251.362574,...,2097,4.9,413.0,8573.0,44,25,525.0,85.0,771.0,45.0
3,Alabama,Bibb,22915,7953,16.025000,43362.500000,295.614426,295.614426,0.000000,164.903295,...,1125,7.3,407.0,11766.0,40,20,333.0,33.0,561.0,29.0
4,Alabama,Blount,57322,21578,17.911111,52136.000000,5855.939161,7387.084978,3900.420369,2570.900481,...,2900,8.3,906.0,9333.0,35,19,705.0,123.0,1316.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3093,Wyoming,Sweetwater,43806,16475,11.841667,81835.083333,9400.240856,16730.468695,8914.971285,1816.028671,...,835,8.1,445.0,6878.0,32,16,469.0,159.0,1053.0,10.0
3094,Wyoming,Teton,21294,8973,8.100000,89555.250000,3711.377493,3949.327991,2605.093461,972.594547,...,128,8.0,116.0,3728.0,13,12,104.0,NaN,558.0,8.0
3095,Wyoming,Uinta,21118,7668,14.166667,65312.666667,758.694309,758.694309,13.350968,318.523395,...,621,7.5,234.0,7660.0,28,15,243.0,8.0,475.0,12.0
3096,Wyoming,Washakie,8533,3492,14.133333,62213.666667,1057.246483,2537.470166,885.406917,359.634002,...,337,8.0,97.0,7294.0,28,14,156.0,7.0,174.0,16.0
3097,Wyoming,Weston,7208,3021,12.100000,75233.000000,2225.791797,3377.924045,1564.687515,676.061144,...,218,8.0,88.0,8051.0,29,14,103.0,9.0,133.0,13.0

In [10]:
#FOOD ENVIRONMENT INDEX:

#Find the mean of the food environment index:
food_env_avg = combined_df["Food Environment Index"].mean()
print("The national Food Environment Index Average is: " + str(food_env_avg))

The national Food Environment Index Average is: 7.025338928340858

In [11]:
#Find the median of the food environment index:
food_env_med = combined_df["Food Environment Index"].median()
print("The national Food Environment Index Median is: " + str(food_env_med))

The national Food Environment Index Median is: 7.3

In [12]:
#FOOD ENVIRONMENT INDEX 

#Find the stats of the food environment index:
food_env_stats = combined_df["Food Environment Index"].describe()
food_env_stats

count    3098.000000
mean        7.025339
std         1.258195
min         0.000000
25%         6.400000
50%         7.300000
75%         7.900000
max        10.000000
Name: Food Environment Index, dtype: float64

In [14]:
#Calculate the 0.25 quantile. This is what will be used for the poor environment cutoff.
bottomquartile = combined_df["Food Environment Index"].quantile(q=0.25)
bottomquartile

6.4

In [15]:
# #Group the food environments into "healthy" or "poor" environments based on the national mean
# healthy_env=combined_df.loc[combined_df["Food Environment Index"]>=food_env_avg]
# poor_env=combined_df.loc[combined_df["Food Environment Index"]<food_env_avg]

In [16]:
#Group the food environments into "healthy" or "poor" environments based on the cutoff
healthy_env=combined_df.loc[combined_df["Food Environment Index"]>=bottomquartile]
poor_env=combined_df.loc[combined_df["Food Environment Index"]<bottomquartile]

In [17]:
# #Calculating % diabetics out of population
# percentdiabetics = (combined_df["# Diabetics"]/combined_df["POP2010"]).mean()
# percentdiabetics

In [18]:
#Calculating population of environments
healthy_env_pop=combined_df.loc[combined_df["Food Environment Index"]>=bottomquartile].groupby("POP2010").sum()
poor_env_pop=combined_df.loc[combined_df["Food Environment Index"]<bottomquartile].groupby("POP2010").sum()

In [24]:
#Creating bins based on max/min student budget values
bins = [0, 6.4, 10]
#bin names
ranges = ["Poor", "Healthy"]

In [28]:
#Slicing the data and placing into bins
pd.cut(combined_med_df["Food Environment Index"], bins, labels=ranges)

0       Healthy
1       Healthy
2          Poor
3       Healthy
4       Healthy
         ...
3089    Healthy
3090    Healthy
3091    Healthy
3092    Healthy
3093    Healthy
Name: Food Environment Index, Length: 3094, dtype: category
Categories (2, object): [Poor < Healthy]

In [29]:
#Creating a column for spending ranges
combined_med_df["Environment Category"] = pd.cut(combined_med_df["Food Environment Index"], bins=bins, labels=ranges)
combined_med_df.reset_index(drop=True,inplace=True)

In [30]:
#Creating series for each parameter. Need to take the average for each range of school spending!
population_sum = combined_med_df.groupby("Environment Category")["Original Medicare"].sum()
diabetics_sum = combined_med_df.groupby("Environment Category")["# Diabetics"].sum()

In [31]:
#Create dataframe to hold data
popsum_byenv_df = pd.DataFrame(
    {"Population Total": population_sum,
    "Diabetics Total": diabetics_sum})

popsum_byenv_df

,Population Total,Diabetics Total
Environment Category,,
Poor,4372125937482011064923124391527011962228383046...,630891.0
Healthy,5784283882480607047014121272727248295105677750...,2637842.0

In [62]:
populationtotals=combined_df["POP2010"].sum()
populationtotals

306293956

In [12]:
# #Group the food environments into "healthy" or "poor" environments based on the national median
# healthy_env=combined_df.loc[combined_df["Food Environment Index"]>=food_env_med]
# poor_env=combined_df.loc[combined_df["Food Environment Index"]<food_env_med]

In [51]:
#Sum: total diabetes for nation, healthy environment, and poor environment
#Note: The dataset's "# Diabetics" represents the number of diabetic Medicare enrollees
dia_nation_sum=combined_df["# Diabetics"].sum()
print("The number of diabetic Medicare enrollees is: " + str(dia_nation_sum))

The number of diabetic Medicare enrollees is: 3275587.0

In [14]:
#Sum: healthy environment diabetes
dia_health_sum=healthy_env["# Diabetics"].sum()
print("The number of diabetic Medicare enrollees in a healthy environment is: " + str(dia_health_sum))

The number of diabetic Medicare enrollees in a healthy environment is: 2721321.0

In [15]:
#Sum: poor environment diabetes
dia_poor_sum=poor_env["# Diabetics"].sum()
print("The number of diabetic Medicare enrollees in a poor environment is: " + str(dia_poor_sum))

The number of diabetic Medicare enrollees in a poor environment is: 554266.0

In [16]:
# poor_env_pop=

In [17]:
# #Sum: total diabetes for nation, healthy environment, and poor environment
dia_nation_sum=combined_df["% Obese"].mean()
dia_nation_sum

31.07682375726275

In [18]:
#Pie charts for above data